.light-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .light-box{

        height: 175px;
        color: #aaaaaa;
        font-family: 'Lato';
        font-size: 10px;
        font-weight: 800;

        display: grid;
        justify-items: center;
        align-items: flex-end;

        span{
            height: 20px;
            line-height: 20px;
            vertical-align: middle;

            on-off-switch{
                display: inline;
                margin-left: 10px;
            }
        }
    }
}