<div class="light-wrapper">
  <div *ngFor="let light of this.bridge.getAreaInfo(this.areaID)?.lights | keyvalue"
    class="light-box">

    <light-type [light]='this.scenesService.currentScene[light?.key]'></light-type>
    <span>
      {{ light.value.name | uppercase }}
      <on-off-switch  (toggle)="this.toggleOn($event, light)"
                      [on]="this.scenesService.currentScene[light?.key].on"></on-off-switch>
    </span>
    <!-- <input #lightSwitch type="checkbox" [(ngModel)]="this.scenesService.currentScene[light?.key].on"> -->
  </div>
</div>