:host{
    background-color: #111111;
    color: #dddddd;

    display: grid;
    grid-template-columns: 85% auto;

    -webkit-app-region: drag;

    div{
        
        height: 34px;
        justify-self: left;

        display: flex;
        align-items: center;

        
        
        img{
            height: 26px;
            width: 26px;
            float: left;
        }
        
        .title{
            font-family: 'Lato';
            font-size: 16px;
            float: left;
        }
    }

    nav{
        justify-self: right;
        height: 34px;
        display: flex;
        align-items: center;

        .title-button{
            float: left;
            display: flex;
            align-self: center;
            
        
            :hover{
                cursor: pointer;
                fill: #ececec;
            }
        }

    }
}