.container{
    display: grid;
    grid-template-rows: 34px auto auto;

    .bridge{

        padding: 10px;

        #bridge-icon{
            height: 50px;
            width: 50px;

            :hover{
                cursor: pointer;
            }
        }
    }
}