.container{
    display: grid;
    grid-template-rows: 34px 20px 300px 46px;

    select{
        float: left;
        margin-right: 15px;

        appearance: none;
        background-position: center right;
        background-repeat: no-repeat;
        background-image: url(../assets/img/Hamburger_icon.svg);
        background-color: #777777;
        padding: 5px;
        border: none;

        font-size: 10px;
        font-weight: 800;
        color: #dddddd;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .bridge{

        padding: 10px;
        float: left;

        #bridge-icon{
            height: 25px;
            width: 25px;

            .bridge-body{
                fill:#DDDDDD;
            }
            .bridge-ring{
                fill:none;stroke:red;stroke-width:2;stroke-miterlimit:10;
            }
            .bridge-light{
                fill:red;
            }

            .bridge-online{
                .bridge-light{
                    fill:#3FA9F5;
                }
                .bridge-ring{
                    stroke:#3FA9F5
                }
            }

            :hover{
                cursor: pointer;
                
                .bridge-body{
                    fill: red !important;
                }
            }
        }
    }

    #save{
        .plastic{
            fill: #555555;
        }
    }

    #save-as{
        .plastic{
            fill: #F16A24;
        }

        #Pencil{
            transition-duration: 0.3s;
            transform: translate(-40px);
        }

        #bottom-line{
            transition-duration: 0.3s;
            stroke-dasharray: 40;
            stroke-dashoffset: 40;
        }
    }

    svg{
        .metal{
            transition-duration: 0.1s;
        }
    }

    #save-as:hover{

        .metal{
            transform: translateX(-10px);
            transition-duration: 0.5s;
        }

        #Pencil{
            transform: translate(0px);
            transition-duration: 0.8s;
        }

        #bottom-line{
            stroke-dashoffset: 0;
            transition-duration: 0.8s;
        }
    }

    .save-active{

        .plastic{
            fill: #F16A24 !important;
        }

    }

    .save-active:hover, #save-as:hover{
        cursor: pointer;
    
        .metal{
            transform: translateX(-10px);
        }
    }
}

// .save-modal{
//     position: absolute;
//     top: 200px;
//     left: 200px;
//     height: 75px;
//     width: 175px;

//     background: #18181d;
//     color: #d0d0d8;

//     text-align: center;
//     line-height: 75px;
// }